
.operaciones-basicas{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: 2px solid #4CAF50;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color:rgba(127, 255, 212, 0.267) ;
}
input{
    border: 2px solid rgb(0, 221, 255);
    width: 100px;
    border-radius: 10px;
    transition: 0.1s ease;
}
input:hover{
    border: 4px solid rgba(0, 221, 255, 0.466);
}
.btn-calcular{
    background-color: dodgerblue;
    border-color: blue;
    width: 200px;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    border-radius: 0.5rem;
    color: azure;
    transition: 0.1s ease-in;
}
.btn-calcular:hover{
     background-color: rgba(30, 143, 255, 0.422);
     cursor:pointer;
     
}